.fade-in {
  -webkit-animation: fade-in 1s ease-in-out;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 1.2s ease-out;
  animation: slide-in-left 1.2s ease-out;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-3rem);
    transform: translateX(-3rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
  }
}

.bounce {
   -webkit-animation: bounce 0.9s ease-in-out infinite;
   animation: bounce 0.9s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scaleX(1) translateY(-2px);
    }
    50% {
        transform: scaleX(1.1) translateY(2px);
    }
    100% {
        transform: scaleX(1) translateY(-2px);
        transform-origin: center;
        transform-origin: center;
    }
}